.popup__input {
  margin: 0 0 13px;
  border: none;
}

.popup__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__input:focus {
  outline: none;
}