.content {
  padding: 40px 0 67px;
  box-sizing: border-box;
  max-width: 880px; 
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding-top: 38.25px;
    padding-bottom: 48px;
  }
}