.elements {
  padding-top: 51px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .elements {
    width: calc(100% - 19px * 2);
    margin: 0 auto;
  }
}
