.element__button-like {
  background: transparent;
  border: none;
  min-width: 22px;
  min-height: 19px;
  background-image: url(../../../images/like.svg);
  background-size: cover;
  align-self: center;
  display: block;
}